<a href="https://colab.research.google.com/github/GeremiccaAndrea/Pandas_Ordinato/blob/main/CorrezioneVerificaSommativaPandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pandas

In [ ]:
import pandas as pd

In [ ]:
colonnine = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/ricarica_colonnine.csv', sep = ";")
colonnine

In [ ]:
quartieri = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/quartieriMilano.csv', sep = ";")
quartieri

2. salvare in una lista la colonna del dataframe contenente i nomi del quartiere (nome_nil)

In [ ]:
lista = list(colonnine['nome_nil'])

Oppure

In [ ]:
lista = colonnine['nome_nil'].to_list()

3. creare una nuova lista contenente i nomi dei quartieri senza duplicati

In [ ]:
senza_duplicati = list(set(colonnine['nome_nil']))
senza_duplicati

4. contare il numero di duplicati che erano presenti nella prima lista

In [ ]:
len(lista) - len(senza_duplicati)

5. salvare in una terza lista tutti i quartieri il cui nome comincia con la lettera B

In [ ]:
B = colonnine[colonnine['nome_nil'].str.startswith("B")]['nome_nil'].to_list()
B

6. salvare in una quarta lista i primi due elementi della lista precedente e gli ultimi due

In [ ]:
lista_elementi = B[0:2]
lista_elementi.extend(B[-2:])
lista_elementi

7. salvare in un'altra lista la precedente ordinata in ordine alfabetico al contrario dalla Z alla A

In [ ]:
ordineDecrescente = (sorted(lista_elementi, reverse = True))
ordineDecrescente

8. salvare in un nuovo dataframe il numero di colonnine di ricarica presenti in ogni quartiere

In [ ]:
colonnineXquartiere = colonnine.groupby('nome_nil')[['numero_col']].count().reset_index()
colonnineXquartiere

9. utilizzare i dati appena estratti per creare un dizionario che abbia il numero di colonnine come valore e il nome del quartiere come chiave

In [ ]:
dizionario = dict(zip(colonnineXquartiere['nome_nil'], colonnineXquartiere['numero_col']))
dizionario

10. usando il dizionario appena creato far inserire all'utente il nome di un quartiere e visualizzare il numero di colonnine di ricarica

In [ ]:
utente = input('Inserire un quartiere: ')
colonnineUtente = colonnineXquartiere[colonnineXquartiere['nome_nil'] == utente][['numero_col']]
colonnineUtente

11. fare la stessa cosa dell'esercizio precedente ma controllando che il quartiere sia effettivamente presente nell'elenco. se presente visualizzare il numero di colonnine altrimenti messaggio errore

In [ ]:
input1 = input('Inserire un quartiere: ')
if input1 in dizionario:
   print(dizionario[utente])
else:
    print('x')
#DA SISTEMARE

12. usando il diziponario appena creato calcolare il numero totale di colonnine che ci sono a milano

In [ ]:
total = sum(dizionario.values())
total

13. calcolare il numero di colonnine per ogni quartiere. chiamare il nuovo dataframe colonninePerQuartiere

In [ ]:
colonninePerQuartiere = colonnine.groupby('nome_nil')[['numero_col']].count().reset_index()
colonninePerQuartiere

14. eliminare dal dataframe iniziale tutte le colonnine di cui non si conosce il nome della via

In [ ]:
quartieri1 = colonnine[~colonnine['nome_via'].isna()]
quartieri1

15. trovare i quartieri che hanno piÃ¹ di 10 colonnine

In [ ]:
colonninePerQuartiere[colonninePerQuartiere['numero_col'] >= 10]

16. visualizzare la somma delle colonnine dei quartieri bicocca, brera e affori

In [ ]:
colonninePerQuartiere[(colonninePerQuartiere['nome_nil'] == 'AFFORI') | (colonninePerQuartiere['nome_nil'] == 'BICOCCA') | (colonninePerQuartiere['nome_nil'] == 'BRERA')] ['numero_col'].sum()

17. trovare i quartieri che hanno un numero di colonnine comprese fra 8 e 12 estremi inclusi, ordinare il risultato in ordine decrescente sul num colonnine

In [ ]:
colonninePerQuartiere[(colonninePerQuartiere['numero_col'] >=8) & (colonninePerQuartiere['numero_col'] <=12 )].sort_values(by = 'numero_col', ascending = False)

18. utilizzando il dataset dei quartieri salvare in un nuovo dataframe i quartieri che non hanno colonnine di ricarica

In [ ]:
colonnine[colonnine.numero_col.isnull()]
#DA SISTEMARE

19. eliminare la colonna 'Area HA'

In [ ]:
quartieri.drop(['Area HA'], axis = 1)

20. calcolare l'are complessiva di milano in metri quadrati

In [ ]:
area =quartieri['Area MQ'].sum()
area

21. aggiungere al dataframe una colonna che contenga la percentuale di area che ogni quartiere copre rispetto al totale dell'area di milano

In [ ]:
#NON PENSO SIA GIUSTO

In [ ]:
numeroquartieri = quartieri["Nome"].count()
quartieri["percentuale"] = area
quartieri

In [ ]:
percperogniquartier = quartieri.groupby("Nome")[["Area MQ"]].mean()
percperogniquartier

22. visualizzare i primi 5 quartieri in percentuale piÃ¹ grandi

23. visualizzare il quartiere piÃ¹ grande (fare in modo che se ci sono piÃ¹ quartieri

In [ ]:
quartieri[quartieri['Area MQ'] == quartieri['Area MQ'].max()]['Nome']

24. scrivere una funzione che converta un valore da metri quadrati in km quadrati

In [ ]:
def conversione(mq):
  return mq * 1000000