<a href="https://colab.research.google.com/github/GeremiccaAndrea/Pandas_Ordinato/blob/main/Pandas2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
movies = pd.read_csv('https://gist.githubusercontent.com/tiangechen/b68782efa49a16edaf07dc2cdaa855ea/raw/0c794a9717f18b094eabab2cd6a6b9a226903577/movies.csv')
movies

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
0,Zack and Miri Make a Porno,Romance,The Weinstein Company,70,1.747542,64,$41.94,2008
1,Youth in Revolt,Comedy,The Weinstein Company,52,1.090000,68,$19.62,2010
2,You Will Meet a Tall Dark Stranger,Comedy,Independent,35,1.211818,43,$26.66,2010
3,When in Rome,Comedy,Disney,44,0.000000,15,$43.04,2010
4,What Happens in Vegas,Comedy,Fox,72,6.267647,28,$219.37,2008
...,...,...,...,...,...,...,...,...
72,Across the Universe,romance,Independent,84,0.652603,54,$29.37,2007
73,A Serious Man,Drama,Universal,64,4.382857,89,$30.68,2009
74,A Dangerous Method,Drama,Independent,89,0.448645,79,$8.97,2011
75,27 Dresses,Comedy,Fox,71,5.343622,40,$160.31,2008
76,(500) Days of Summer,comedy,Fox,81,8.096000,87,$60.72,2009

Visualizzare la somma dei Audience Score %

In [2]:
movies["Audience score %"].sum()

4907

Visualizzare la media dei Rottem Tomatoes %

In [3]:
movies["Rotten Tomatoes %"].mean()

46.701298701298704

Visualizzare i nomi dei film che sono prodotti dalla universal

In [4]:
movies[movies["Lead Studio"] == "Universal"][["Film"]]

                Film
45        Mamma Mia!
46        Mamma Mia!
48      Love Happens
53         Leap Year
54        Knocked Up
57         Jane Eyre
58  It's Complicated
73     A Serious Man

Visualizzare i film e la casa produttrice che hanno un Rotten Tomatoes % superiore alla media

In [5]:
movies[movies["Rotten Tomatoes %"] > movies["Rotten Tomatoes %"].mean()][["Film", "Lead Studio"]]

                                   Film            Lead Studio
0            Zack and Miri Make a Porno  The Weinstein Company
1                       Youth in Revolt  The Weinstein Company
5                   Water For Elephants       20th Century Fox
6                                WALL-E                 Disney
7                              Waitress            Independent
12                             Twilight                 Summit
17               The Invention of Lying           Warner Bros.
19                          The Duchess              Paramount
20  The Curious Case of Benjamin Button           Warner Bros.
22                              Tangled                 Disney
24               She's Out of My League              Paramount
27                     Sex and the City           Warner Bros.
29               Rachel Getting Married            Independent
30                             Penelope                 Summit
37   Nick and Norah's Infinite Playlist                   Sony
39                 My Week with Marilyn  The Weinstein Company
40                     Music and Lyrics           Warner Bros.
42       Miss Pettigrew Lives for a Day            Independent
43                    Midnight in Paris                   Sony
44                        Marley and Me                    Fox
45                           Mamma Mia!              Universal
46                           Mamma Mia!              Universal
49                   Love & Other Drugs                    Fox
54                           Knocked Up              Universal
57                            Jane Eyre              Universal
58                     It's Complicated              Universal
59            I Love You Phillip Morris            Independent
60   High School Musical 3: Senior Year                 Disney
63                   Going the Distance           Warner Bros.
64                    Gnomeo and Juliet                 Disney
65                    Gnomeo and Juliet                 Disney
69                            Enchanted                 Disney
71                            Beginners            Independent
72                  Across the Universe            Independent
73                        A Serious Man              Universal
74                   A Dangerous Method            Independent
76                 (500) Days of Summer                    Fox

Visualizzare il film con l'audience score maggiore

In [6]:
movies[movies["Audience score %"] == movies["Audience score %"].max()][["Film"]]

                  Film
6               WALL-E
74  A Dangerous Method

Visualizzare il minimo della colonna gross

In [7]:
movies["Worldwide Gross"].min()

'$0.03 '